Repository bauer-group/LIB-NocoDB_SimpleClient: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-header, custom-security-check

license-header:
  name: Check license headers
  entry: python scripts/check_license_headers.py
  language: system
  pass_filenames: false

custom-security-check:
  name: Custom security checks
  entry: python scripts/security_checks.py
  language: system
  pass_filenames: true

docs: update README.MD [automated]
  README.MD
Due: none

docs: update SECURITY.MD [automated]
  SECURITY.MD
Due: none

fix: korrigiere Dateinamen für das Changelog in der Semantic Release-Konfiguration
  pyproject.toml
Due: none

fix: entferne veraltete Changelog-Inhalte und bereite die Datei für zukünftige Änderungen vor
  CHANGELOG.MD
Due: none

fix: aktualisiere Versionsnummer im CHANGELOG auf v0.4.0
  CHANGELOG.md
Due: none

feat: füge CHANGELOG für Version 1.0.0 hinzu und strukturiere die Einträge
  CHANGELOG.MD
Due: none

fix: füge fehlende Leerzeilen zwischen den Abschnitten im pyproject.toml hinzu
  pyproject.toml
Due: none

1.1.0
  CHANGELOG.md
  src/nocodb_simple_client/__init__.py
Due: license-header, custom-security-check

fix: entferne veraltete Versionseinträge aus dem CHANGELOG
  CHANGELOG.md
Due: none

fix: aktualisiere CHANGELOG für Version 1.1.0 und entferne veraltete Einträge
  CHANGELOG.MD
Due: none

fix: korrigiere Dateinamen für CHANGELOG und README auf Großbuchstaben
  pyproject.toml
Due: none

1.1.1
  CHANGELOG.md
  src/nocodb_simple_client/__init__.py
Due: license-header, custom-security-check

docs: aktualisiere den Link zur Unternehmenswebsite im README.template
  docs/README.template.MD
Due: none

Delete CHANGELOG.MD
  CHANGELOG.MD
Due: none

docs: korrigiere Verweise auf CHANGELOG.md in README.template und pyproject.toml
  docs/README.template.MD
  pyproject.toml
Due: none

Rename CODE_OF_CONDUCT.MD to CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

docs: füge Installationsanweisungen für GitHub hinzu
  docs/README.template.MD
Due: none

docs: aktualisiere Installationsanweisungen für spezifische Versionen und Branches
  docs/README.template.MD
Due: none

feat: Add bulk operations and view management for NocoDB
  src/nocodb_simple_client/__init__.py
  src/nocodb_simple_client/client.py
  src/nocodb_simple_client/columns.py
  src/nocodb_simple_client/file_operations.py
  src/nocodb_simple_client/filter_builder.py
  src/nocodb_simple_client/links.py
  src/nocodb_simple_client/pagination.py
  src/nocodb_simple_client/query_builder.py
  src/nocodb_simple_client/table.py
  src/nocodb_simple_client/views.py
  src/nocodb_simple_client/webhooks.py
Due: license-header, custom-security-check

feat: Add comprehensive tests for NocoDB webhooks functionality
  .github/workflows/feature-test.yml
Due: none

feat: Add comprehensive tests for NocoDB webhooks functionality
  .github/workflows/README.md
  scripts/run-all.py
  tests/.env.example
  tests/README.md
  tests/conftest.py
  tests/pytest.ini
  tests/test_async_client.py
  tests/test_bulk_operations.py
  tests/test_bulk_operations_integration.py
  tests/test_cache.py
  tests/test_columns.py
  tests/test_file_operations.py
  tests/test_file_operations_integration.py
  tests/test_filter_builder.py
  tests/test_links.py
  tests/test_pagination.py
  tests/test_query_builder.py
  tests/test_views.py
  tests/test_webhooks.py
Due: license-header

style: Füge Emojis zu den Jobnamen und Schritten in der Feature-Test-Workflow-Datei hinzu
  .github/workflows/feature-test.yml
Due: none

feat: Add python-dotenv to development dependencies and improve Bandit security scan exclusions
  pyproject.toml
  scripts/run-all.py
  src/nocodb_simple_client/file_operations.py
  src/nocodb_simple_client/models.py
Due: license-header, custom-security-check

feat: Add Docker support for testing NocoDB Simple Client and enhance caching mechanism
  pyproject.toml
  scripts/docker-test.py
  scripts/run-all.py
  src/nocodb_simple_client/__init__.py
  src/nocodb_simple_client/cache.py
  src/nocodb_simple_client/client.py
  src/nocodb_simple_client/exceptions.py
  src/nocodb_simple_client/models.py
  src/nocodb_simple_client/pagination.py
  tests/docker/Dockerfile.test
  tests/docker/docker-compose.test.yml
  tests/test_integration.py
Due: license-header, custom-security-check

feat: Enhance GitHub Actions workflow with descriptive step names and improve cache handling
  .github/workflows/feature-test.yml
  pyproject.toml
  src/nocodb_simple_client/cache.py
  src/nocodb_simple_client/client.py
  tests/pytest.ini
Due: license-header, custom-security-check

feat: Refactor async client tests to use NocoDBConfig for configuration management
  tests/test_async_client.py
Due: license-header

style: Aktualisiere Workflow-Datei mit klaren Jobnamen für Tests und Performance
  .github/workflows/feature-test.yml
  src/nocodb_simple_client/cache.py
Due: license-header, custom-security-check

feat: Füge Unterstützung für asynchrone Tests mit pytest-asyncio hinzu
  pyproject.toml
Due: none

feat: Verbessere Typüberprüfungen und Fehlerbehandlung in der NocoDB-Client-Bibliothek
  pyproject.toml
  src/nocodb_simple_client/__init__.py
  src/nocodb_simple_client/async_client.py
  src/nocodb_simple_client/cache.py
  src/nocodb_simple_client/client.py
  src/nocodb_simple_client/columns.py
  src/nocodb_simple_client/file_operations.py
  src/nocodb_simple_client/links.py
  src/nocodb_simple_client/pagination.py
  src/nocodb_simple_client/query_builder.py
  src/nocodb_simple_client/views.py
  src/nocodb_simple_client/webhooks.py
Due: license-header, custom-security-check

feat: Verbessere Fehlerbehandlung und Unterstützung für neue Cache-Konfigurationen in NocoDB
  src/nocodb_simple_client/cache.py
  src/nocodb_simple_client/query_builder.py
  tests/test_cache.py
Due: license-header, custom-security-check

feat: Reduziere die maximale Dateigröße auf 50MB im FileManager
  src/nocodb_simple_client/file_operations.py
Due: license-header, custom-security-check

feat: Entferne die Standardgröße für die maximale Dateigröße im FileManager
  src/nocodb_simple_client/file_operations.py
Due: license-header, custom-security-check

Path conditions:
  license-header: any of: \.py$
  custom-security-check: any of: ^src/.*\.py$
