Repository bauer-group/LIB-NocoDB_SimpleClient: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-header, custom-security-check

license-header:
  name: Check license headers
  entry: python scripts/check_license_headers.py
  language: system
  pass_filenames: false

custom-security-check:
  name: Custom security checks
  entry: python scripts/security_checks.py
  language: system
  pass_filenames: true

docs: add openapi specs.
  docs/nocodb-openapi-data.json
  docs/nocodb-openapi-meta.json
Due: none

feat: Füge NocoDBMetaClient hinzu und verbessere Tests für asynchrone Client-Funktionalität
  src/nocodb_simple_client/__init__.py
  src/nocodb_simple_client/columns.py
  src/nocodb_simple_client/meta_client.py
  src/nocodb_simple_client/views.py
  src/nocodb_simple_client/webhooks.py
  tests/test_async_client.py
  tests/test_columns.py
Due: license-header, custom-security-check

feat: Aktualisiere NocoDBMetaClient zur Vererbung von NocoDBClient und passe Aufrufe in den Manager-Klassen an
  src/nocodb_simple_client/columns.py
  src/nocodb_simple_client/meta_client.py
  src/nocodb_simple_client/views.py
  src/nocodb_simple_client/webhooks.py
Due: license-header, custom-security-check

feat: Entferne Docker-Testskripte und zugehörige Docker-Konfiguration
  scripts/docker-test.py
  tests/docker/Dockerfile.test
  tests/docker/docker-compose.test.yml
Due: license-header

feat: Aktualisiere Pre-Commit-Konfiguration, um Tests von Hooks auszuschließen und die Python-Version zu ändern
  .pre-commit-config.yaml
Due: none

Remove test suite for webhooks functionality, including all related test cases and fixtures.
  tests/test_bulk_operations.py
  tests/test_bulk_operations_integration.py
  tests/test_client_crud.py
  tests/test_file_operations.py
  tests/test_file_operations_integration.py
  tests/test_filter_builder.py
  tests/test_query_builder.py
  tests/test_table.py
  tests/test_views.py
  tests/test_webhooks.py
Due: license-header

feat: Aktualisiere Tests für NocoDBTable, um spezifische Argumente für Mock-Methoden zu überprüfen
  tests/test_table.py
Due: license-header

feat: Add unit tests for NocoDB Views and Webhooks functionality
  tests/test_file_operations.py
  tests/test_meta_client.py
  tests/test_views.py
  tests/test_webhooks.py
Due: license-header

refactor: Optimize webhook tests by simplifying assertions and updating method calls
  tests/test_async_client.py
  tests/test_webhooks.py
Due: license-header

feat: Refactor tests and add new test cases for NocoDB Meta Client and Views
  tests/test_async_client.py
  tests/test_client_crud.py
  tests/test_columns.py
  tests/test_file_operations.py.disabled
  tests/test_filter_builder.py
  tests/test_links.py
  tests/test_meta_client.py.disabled
  tests/test_pagination.py
  tests/test_views.py.disabled
  tests/test_webhooks.py
Due: license-header

feat: Füge Unterstützung für workflow_dispatch und workflow_call in die Feature-Test-Workflow-Datei hinzu
  .github/workflows/feature-test.yml
Due: none

fix: Refactor and enhance view management tests
  tests/test_file_operations.py
  tests/test_file_operations.py.disabled
  tests/test_meta_client.py
  tests/test_meta_client.py.disabled
  tests/test_views.py
  tests/test_views.py.disabled
Due: license-header

fix: Update repository links in CONTRIBUTING.md and pyproject.toml for consistency
  .gitignore
  CONTRIBUTING.MD
  pyproject.toml
Due: none

feat: Integrationstests für Python-managed NocoDB-Instanz optimiert und Docker-Setup hinzugefügt
  .github/workflows/feature-test.yml
  tests/test_integration.py
Due: license-header

fix: Entferne ungenutzte Importe aus den Integrationstests
  tests/test_integration.py
Due: license-header

fix: Entferne Docker SDK und Pillow Installation aus den Workflow-Schritten und füge sie als optionale Abhängigkeiten in pyproject.toml hinzu
  .github/workflows/feature-test.yml
  pyproject.toml
  tests/test_integration.py
Due: license-header

fix: Überprüfe die Verfügbarkeit von Docker anstelle der Einrichtung in den Workflow-Schritten
  .github/workflows/feature-test.yml
Due: none

fix: Verbessere Container-Start- und Bereitstellungslogik für Integrationstests
  tests/test_integration.py
Due: license-header

fix: Aktualisiere die Logik zum Abrufen vorhandener Basen in den Integrationstests
  tests/test_integration.py
Due: license-header

fix: Aktualisiere die Logik zur Entdeckung von Basen in den Integrationstests
  tests/test_integration.py
Due: license-header

feat: add workspace and base management methods to NocoDBMetaClient
  src/nocodb_simple_client/meta_client.py
  tests/test_integration.py
Due: license-header, custom-security-check

feat: implement workspace and base operations tests in NocoDBMetaClient
  tests/test_meta_client.py
Due: license-header

feat: aktualisiere die list_bases-Methode zur Auflistung aller Basen ohne workspace_id
  src/nocodb_simple_client/meta_client.py
  tests/test_integration.py
  tests/test_meta_client.py
Due: license-header, custom-security-check

Refactor code structure for improved readability and maintainability
  .github/workflows/feature-test.yml
  scripts/README-CI-SETUP.md
  scripts/ci-setup.sh
  tests/test_integration.py
Due: license-header

Implement new feature for user authentication and improve error handling
  tests/test_integration.py
Due: license-header

feat: füge Integrationstests für nocodb-simple-client hinzu
  tests/test_integration.py
Due: license-header

feat: erweitere Integrationstests um dynamische Tabellenverwaltung und verbessere Fehlerbehandlung
  tests/test_integration.py
Due: license-header

feat: verbessere Docker-Setup und Warte-Logik für NocoDB-Container
  scripts/ci-setup.sh
Due: none

feat: verbessere Integrationstests mit Konfigurationsüberprüfung und optimiere Docker-Setup
  .github/workflows/feature-test.yml
  scripts/ci-setup.sh
  tests/test_integration.py
Due: license-header

feat: verbessere Fehlerbehandlung und Debugging für Token-Generierung und API-Verbindung
  scripts/ci-setup.sh
Due: none

feat: verbessere Token-Generierung mit Basis-Authentifizierung und verbessere Fehlerbehandlung
  scripts/ci-setup.sh
Due: none

fix: behebe Syntaxfehler bei der Token-Generierung
  scripts/ci-setup.sh
Due: none

fix: entferne überflüssige Parameter bei der Token-Generierung
  scripts/ci-setup.sh
Due: none

fix: entferne fehlerhafte API-Token-Generierung und verbessere Fehlerbehandlung
  scripts/ci-setup.sh
Due: none

feat: verbessere Token-Generierung durch Authentifizierung und verbessere Fehlerbehandlung
  scripts/ci-setup.sh
Due: none

chore: entferne veraltete README-Datei für CI/CD-Setup
  scripts/README-CI-SETUP.md
Due: none

feat: aktualisiere Token-Generierung und verbessere Umgebungsdateien für CI/CD
  scripts/ci-setup.sh
Due: none

feat: verbessere Konfigurationsladefunktion und unterstütze neue Umgebungsvariablen für Integrationstests
  .github/workflows/feature-test.yml
  tests/test_integration.py
Due: license-header

feat: aktualisiere Konfigurationsladefunktion zur Unterstützung von nocodb-config.json und entferne veraltete .env-Datei
  .github/workflows/feature-test.yml
  scripts/ci-setup.sh
  tests/test_integration.py
Due: license-header

feat: aktualisiere Konfiguration und Umgebungsvariablen für nocodb-config.json zur Vereinheitlichung der Variablennamen
  .github/workflows/feature-test.yml
  scripts/ci-setup.sh
  tests/test_integration.py
Due: license-header

Path conditions:
  license-header: any of: \.py$
  custom-security-check: any of: ^src/.*\.py$
